 .blinking{
    animation: blinkingText 1s infinite;
            font-family: 'Noto Serif', serif;
            font-weight:bold;
            text-align: left;
            font-size: 20px;
        }
    @keyframes blinkingText{
     0%{     color:#fc6d00;}
    20%{    color:#ffffff;}
    40%{    color:#000000;}
    60%{    color:#e60073;}
    80%{    color:#23bba6;}
    100%{   color:red;}
}
#toc_container{padding:10px;margin-bottom:1em;width:auto;}#toc_container.toc_light_blue{background:#edf6ff}#toc_container.toc_white{background:#fff}#toc_container.toc_black{background:#000}

.OlympicHedrBtn{
   border-radius: 8px;  padding: 10px 23px; text-align: center; text-decoration: none; display: inline-block;font-family: 'Noto Serif', serif;font-weight:bold;text-align: left;
font-size: 20px; margin: 4px 2px; background-color: #23bba6;border: none;color: #e60073;padding: 12px 30px;
}
.OlympicSubBtn{
   border-radius: 8px;  padding: 10px 23px; text-align: center; text-decoration: none; display: inline-block;font-family: 'Noto Serif', serif;font-weight:bold;text-align: left;
font-size: 15px; margin: 4px 2px; background-color: #23bba6;border: none;color: #e60073;padding: 12px 30px;
}

body {

  
 background:url("https://1.bp.blogspot.com/-TnoX646B_io/YQJKZ2tArbI/AAAAAAAAFls/BFlnj4mDBxQ1JPYnbPJzjAbLz_8xqI8QgCNcBGAsYHQ/s0/Untitled-1%2Bcopy.png");
  opacity: 0.8;
}
