.color__background--primary {
    background: url("https://2.bp.blogspot.com/-6jhtmG8dtWs/XoxVhFFh7NI/AAAAAAAAEcw/rImO40ZKNQQ2LjJ0OTHfJGDMqA0Fc--GwCNcBGAsYHQ/s1600/IMG_20171012_184958%2Bcopy.png") right 16px center no-repeat,
                linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    display: flex;
    padding: 0 12px;
    height: 50px;
    align-items: center;
}
