.color__background--primary {
    background: url("https://1.bp.blogspot.com/-Ez8QWo6bu7I/YP6cuUZNEBI/AAAAAAAAFlg/PEsWDm1gT3U-CsryLC85BK329iRBBVHjgCNcBGAsYHQ/s0/IMG_20171012_184958%2Bcopy.png") right 16px center no-repeat,
                linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    display: flex;
    padding: 0 12px;
    height: 150px;
    align-items: center;
}
