/* widget-scheduledayperday */
.widget-scheduledayperday header .color__background--primary {
    background: url("https://1.bp.blogspot.com/-Ez8QWo6bu7I/YP6cuUZNEBI/AAAAAAAAFlg/PEsWDm1gT3U-CsryLC85BK329iRBBVHjgCNcBGAsYHQ/s0/IMG_20171012_184958%2Bcopy.png") right 16px center no-repeat,
                linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    position: relative;
    padding: 0 12px;
    height: 150px;
    display: flex;
    align-items: center;   
}

.widget-scheduledayperday main .color__background--primary {
    /*background: linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);*/
    background-image: linear-gradient(to right, #0059bf 1%, #00397a 100%);
    /*padding: 12px 20px;*/
}

.widget-scheduledayperday header .event-container__header {
   /* background: linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    padding: 10px 12px;*/
}

.widget-scheduledayperday header .header__titles h1,
.widget-scheduledayperday .event-container__header__text {
    text-transform: capitalize;
}


/* widget-eventstandings */
.widget-eventstandings .color__background--primary {
    background: url("https://1.bp.blogspot.com/-Ez8QWo6bu7I/YP6cuUZNEBI/AAAAAAAAFlg/PEsWDm1gT3U-CsryLC85BK329iRBBVHjgCNcBGAsYHQ/s0/IMG_20171012_184958%2Bcopy.png") right 16px center no-repeat,
                linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    padding: 0 12px;
    height: 150px;
    display: flex;
    align-items: center;
}

.widget-eventstandings .color__background--primary button {
    align-self: auto;
}

.widget-eventstandings .color__background--primary .header__titles h1 {
     color: #025055;
}


/* widget-matchdetail */
.widget-matchdetail .color__background--primary.widget-matchdetail__header{
    background: url("https://1.bp.blogspot.com/-Ez8QWo6bu7I/YP6cuUZNEBI/AAAAAAAAFlg/PEsWDm1gT3U-CsryLC85BK329iRBBVHjgCNcBGAsYHQ/s0/IMG_20171012_184958%2Bcopy.png") right 16px center no-repeat,
                linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    display: flex;
    align-items: center;
}

.widget-matchdetail .color__background--primary.widget-matchdetail__header__details {
    background-color: #0059bf;
    padding: 12px 25px;
}
/* 
- widget-resultsoverview
- widget-medaltable
- widget-recordlist
- widget-athletesearch
*/

.widget-athletesearch .color__background--primary,
.widget-recordlist .color__background--primary,
.widget-medaltable .color__background--primary,
.widget-resultsoverview .color__background--primary {
    background: url("https://1.bp.blogspot.com/-Ez8QWo6bu7I/YP6cuUZNEBI/AAAAAAAAFlg/PEsWDm1gT3U-CsryLC85BK329iRBBVHjgCNcBGAsYHQ/s0/IMG_20171012_184958%2Bcopy.png") right 16px center no-repeat,
                linear-gradient(to left, #fff200, #00838d 20%, #0055B6 25%);
    display: flex;
    padding: 0 12px;
    height: 150px;
    align-items: center;
}

